In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

In [4]:
yf.download('aapl')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098834,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093678,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086802,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.088951,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091530,73449600
...,...,...,...,...,...,...
2024-11-05,221.800003,223.949997,221.139999,223.449997,223.204422,28111300
2024-11-06,222.610001,226.070007,221.190002,222.720001,222.475235,54561100
2024-11-07,224.630005,227.880005,224.570007,227.479996,227.229996,42137700
2024-11-08,227.169998,228.660004,226.410004,226.960007,226.960007,38308700
2024-11-11,225.054993,225.699997,222.009995,222.130005,222.130005,20753639