In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

In [17]:
yf_data = yf.download('F')
yf_data.reset_index(inplace=True)
yf_data.head()

[*********************100%%**********************]  1 of 1 completed

        Date      Open      High       Low     Close  Adj Close   Volume
0 1972-06-01  0.000000  2.173495  2.149165  2.153220   0.226079  1091238
1 1972-06-02  2.153220  2.173495  2.141055  2.149165   0.225653  1174468
2 1972-06-05  2.149165  2.169440  2.141055  2.149165   0.225653  5209582
3 1972-06-06  2.149165  2.157275  2.116725  2.124835   0.223099  1424158
4 1972-06-07  2.124835  2.137000  2.112670  2.112670   0.221821   675088

In [22]:
data = yf_data[["Date", "Adj Close"]]
data.set_index("Date", inplace=True)
data

            Adj Close
Date
1972-06-01   0.226079
1972-06-02   0.225653
1972-06-05   0.225653
1972-06-06   0.223099
1972-06-07   0.221821
...               ...
2024-11-12  11.100000
2024-11-13  11.100000
2024-11-14  11.070000
2024-11-15  11.010000
2024-11-18  11.210000

[13230 rows x 1 columns]